//h1 {
//  &.meet-authors {
//    margin: 90px 0;
//  }
//}
//p {
//  strong {
//    &.author {
//      font-style: oblique;
//    }
//  }
//}

.jumbotron.meet-authors {
  padding: 100px 0 260px;
  h1 {
    margin-bottom: 100px;
  }
  p {
    font-size: 32px;
  }
}