article {
  .panel-heading {
    p {
      font-weight: bold;
    }
    address {
      margin: 0;
      font-size: 14px;
      a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  .panel-body {
    padding: 20px 10px 0;
    img {
      float: left;
      width: 200px;
      height: 165px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .panel-footer {
    background-color: white;
    border-style: none;
    border-top: 1px solid #ecf0f1;
    line-height: 15px;
    overflow: hidden;

    p.tags {
      font-size: 13px;
      padding-left: 195px;

      a {
        color: inherit;
      }
    }
  }
}

