article {
  .panel-heading {
    p {
      font-weight: bold;
    }
    address {
      margin: 0;
      font-size: 14px;
      a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  .panel-body {
    padding: 20px 10px 0;
    img {
      float: left;
      width: 200px;
      height: 165px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .panel-footer {
    background-color: white;
    border-style: none;
    border-top: 1px solid #ecf0f1;
    line-height: 15px;
    overflow: hidden;

    p.tags {
      font-size: 13px;
      padding-left: 195px;

      a {
        color: inherit;
      }
    }
  }
}

ul.pagination {
  display: block;
  height: 50px;
  li:first-child {
    a {
      border-radius: 25px;
    }
  }
  li:last-child {
    a {
      border-radius: 25px;
    }
  }
  a {
    width: 180px;
    &.disable {
      pointer-events: none;
    }
  }
}

.panel.panel-default.comment {
  margin-top: 25px;
  .panel-heading {
    font-weight: bold;
  }
  & img {
    width: 50px;
    height: 50px;
  }
  & span {
    font-weight: bold;
  }
  & p {
    margin-top: 15px;
  }
  .reply {
    font-size: 14px;
    & a {
      font-weight: bold;
      padding: 15px 25px;
      display: inline-block;
    }
      :hover {
        text-decoration: none;
        color: #2c3e50;
      }
    & img {
      width: 35px;
      height: 35px;
    }
    & p {
      margin: 15px 35px;
    }
  }
}
