main {
  min-height: 900px;
}

custom-footer {
  height: 100px;

  .social {
    list-style: none;

    li {
      float: left;
      margin-right: 127px;
    }

    a {
      background-image: url(../assets/images/social.png);
      height: 88px;
      width: 92px;
      display: block;
    }

    .twitter {
      a {
        background-position: left top;
        &:hover {
          background-position: left bottom;
        }
      }
    }

    .facebook {
      a {
        background-position: 25% top;
        &:hover {
          background-position: 25% bottom;
        }
      }
    }

    .dribbble {
      a {
        background-position: 75% top;
        &:hover {
          background-position: 75% bottom;
        }
      }
    }

    li.instagram {
      margin-right: 0;
    }

    .instagram {
      a {
        background-position: 100% top;
        &:hover {
          background-position: 100% bottom;
        }
      }
    }
  }
}
