article {
  &.recent-article {
    border: none;
    margin-bottom: 80px;

    .panel-heading {
      background: none;
      color: inherit;
    }
  }
}

em {
  font: 21px "Monotype Corsiva", sans serif;
}

.subscribe {
  border-radius: 28px;
  font-size: 18px;
  margin: 15px auto 40px;
  background-color: #2c3e50;
  color: white;
  height: 100px;
  width: 255px;
  line-height: 32px;

  input {
    font-size: 14px;
    color: black;
    height: 32px;
    width: 200px;
  }
}

.well {
  font-size: smaller;
  p.text-right {
    small {
      display: block;
      margin-top: 14px;
    }
  }
}
