article {
  &.recent-article {
    border: none;
    margin-bottom: 80px;

    .panel-heading {
      background: none;
      color: inherit;
    }

    .panel-footer {
      border-top: 1px solid #ecf0f1;
      line-height: 15px;
      overflow: hidden;
    }
  }
}

em {
  font: 21px "Monotype Corsiva";
}

.subscribe {
  border-radius: 28px;
  font-size: 18px;
  margin: 15px auto 40px;
  background-color: #2c3e50;
  color: white;
  height: 100px;
  width: 255px;
  line-height: 32px;

  .form-group {
    margin: 0;
    padding-right: 0;
  }

  input {
    font-size: 14px;
    height: 32px;
  }
}

button {
  &.btn.btn-primary {
    padding: 5px 5px 5px 0;
  }
}

.well {
  margin: 60px 0;
  font-size: smaller;
  p.text-right {
    small {
      display: block;
      margin-top: 14px;
    }
  }
}
