.modal-header{
  background: url($images +'header-bg.jpg') 77% 68% no-repeat;
}
.modal-dialog{
  margin-top: 200px;
  &.signup{
    margin-top: 20px;
  }
  .modal-header{
    background-color: $turquoise;
  }
  .modal-body{
    padding: 20px 50px;
  }
  .modal-footer{
    padding: 30px 50px;
  }
}
