menu {
  margin: 0;
  padding: 0;
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar{
  &.navbar-default{
  li {
    padding-top: 8px;
    font-size: 18px;
    a{
      padding: 10px;
    }
  }
}
  .navbar-header{
    .navbar-brand{
      font-size: 20px;
      padding-top:10px;
      line-height: 36px;
    }
  }
  .dropdown{
    .dropdown-menu{
      li{
        margin: 0;
        a{
          padding: 15px;
          margin: 0;
        }
      }
    }
  }
}
.container-fluid.text-center {
  background: url($images +"/header-bg.jpg") center 86% no-repeat;
  height: 321px;
}
