// VARIABLES
$turquoise:#31A5E7;
$images: '../assets/images/';
$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 992px,
  'large desktop': 1200px
) !default;

// MIXINS
@mixin border-radius($radius:10px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

// IMPORTS
@import '_include-media';
@import '_home';
@import '_articles';
@import '_author';
@import '_about';
@import '_footer';
@import '_select';
@import '_navbar';
@import '_modals';
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

main{
  padding: 50px;
  background-color: white;
}

textarea {
  resize: vertical;
}

table{
  tr{
    th{
      min-width: 100px;
      text-align: center;
    }
  }
}

.profile{
  .form-inline{
    margin: 20px;
    font-size: 20px;
    input,textarea{
      font-size: 20px;
    }
  }
}

.well{
  h1.text-center{
    background: url($images +"/header-bg.jpg") center 48% no-repeat;
    height: 120px;
    padding-top: 4%;
    margin: 0;
  }
}

.tabs{
  .well{
    padding: 50px;
    .form-group{
      margin: 25px 5px;
    }
  }
}

.users {
  margin-bottom: 30px;
}

article {
  .panel-body {
    padding: 20px 10px 0;
    & p {
      font-size: 20px;
    }
    & img {
      padding: 20px;
    }
  }
  .panel-footer {
    background-color: white;
    line-height: 10px;
    border-style: none;

    p.tags {
      font-size: 13px;
      padding-left: 195px;

      a {
        color: inherit;
      }
    }
  }
}

button.btn-default {
  &.btn-sm {
    background-color: white;
    border-width: 1px;
    color: black;
    }
}
