@import '_include-media';

$turquoise:#31A5E7;

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 992px,
  'large desktop': 1200px
) !default;

@mixin border-radius($radius:10px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
$images: '../assets/images';

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.container-fluid.text-center {
  background: url($images +"/header-bg.jpg") center 86% no-repeat;
  height:450px;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar{
  &.navbar-default{
  // background-color: #1873BC;
  padding-top: 10px;
  li {
    font-size: 20px;
    a{
      padding: 15px;
      &:hover{
        color:#86592d;
        border: 1px solid #86592d;
        @include border-radius(15px);
      }
    }
  }
    .navbar-header{
      .navbar-brand{
        font-size: 30px;
        padding-top: 12px;
      }
    }
  }
}
.dropdown{
  .dropdown-menu{
    li{
      a{
        padding: 20px;
      }
    }
  }
}
.modal-header{
  background: url($images + '/header-bg.jpg') 77% 68% no-repeat;
}

.modal-dialog{
  margin-top: 200px;
  .modal-header{
    background-color: $turquoise;
  }
  .modal-body{
    padding: 50px;
  }
}
.modal-body{
  padding: 50px;
}

menu {
  margin: 0;
  padding: 0;
}

@import '_home';
@import 'articles';
@import '_footer';

@mixin section-style($padding, $height, $color, $back-color) {
  padding-top: $padding;
  height: $height;
  color: $color;
  background-color: $back-color;
};

#section1 {
  @include section-style(50px, 500px, #fff, #1E88E5);
}

#section2 {
  @include section-style(50px, 500px, #fff, #673ab7);
}

#section3 {
  @include section-style(50px, 500px, #fff, #ff9800);
}

#section41 {
  @include section-style(50px, 500px, #fff, #00bcd4);
}

#section42 {
  @include section-style(50px, 500px, #fff, #009688);
}
