@import '_include-media';

$breakpoints: (
        'phone': 320px,
        'tablet': 768px,
        'desktop': 992px,
        'large desktop': 1200px

) !default;

$images: '../assets/images';

body {
    position: relative;
    font-size: 20px;
}
.modal-header{
  background: url($images + '/header-bg.jpg') 77% 68% no-repeat;
}

.modal-dialog{
  margin-top: 200px;
}
.modal-body{
  padding: 50px;
}

menu {
  margin: 0;
  padding: 0;
}

@import '_home';
@import '_footer';

@mixin section-style($padding, $height, $color, $back-color) {
  padding-top: $padding;
  height: $height;
  color: $color;
  background-color: $back-color;
};

#section1 {
  @include section-style(50px, 500px, #fff, #1E88E5);
}

#section2 {
  @include section-style(50px, 500px, #fff, #673ab7);
}

#section3 {
  @include section-style(50px, 500px, #fff, #ff9800);
}

#section41 {
  @include section-style(50px, 500px, #fff, #00bcd4);
}

#section42 {
  @include section-style(50px, 500px, #fff, #009688);
}
