
$turquoise:#31A5E7;

@mixin border-radius($radius:10px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
$images: '../assets/images';


body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.navbar{
    &.navbar-default{
    // background-color: #1873BC;
    padding-top: 10px;
    li {
      font-size: 20px;
      a{
        padding: 15px;
        &:hover{
          color:#86592d;
          border: 1px solid #86592d;
          @include border-radius(15px);
        }
      }
    }
    .navbar-header{
      .navbar-brand{
        font-size: 30px;
        padding-top: 12px;
      }
    }
  }
}
.dropdown{
  .dropdown-menu{
    li{
      a{
        padding: 20px;
      }
    }
  }
.modal-header{
  background: url($images+'/header-bg.jpg') 77% 68% no-repeat;
}

.modal-dialog{
  margin-top: 200px;
  .modal-header{
    background-color: $turquoise;
  }
  .modal-body{
    padding: 50px;
  }
}
.modal-body{
  padding: 50px;
}

menu {
  margin: 0;
  padding: 0;
}

@import '_footer';

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
