<div class="jumbotron meet-authors">
    <h2 class="text-center">Meet the authors</h2>
    <br>
    <div class="row">
        <div class="col-lg-6 text-center" ng-repeat="author in authors">
            <div>
                <p><strong>{{ author.firstName }} {{ author.lastName }}</strong></p>
                <br>
                <a href="#/about/{{ author.id }}"><img class="img-circle" width="280" height="280" data-ng-src="{{ author.photo }}" alt="{{ author.firstName }}  {{ author.lastName }}"/></a>
            </div>
        </div>
    </div>
</div>
