<div class="col-md-12">
    <div class="row users">
      <h1 class="text-center padded">Admin</h1>
      <br>
      <h2>Users</h2>
      <table class="table">
         <tbody>
            <tr>
               <th>ID</th>
               <th>First name</th>
               <th>Last name</th>
               <th>Username</th>
               <th>Email</th>
            </tr>
            <tr  ng-repeat="user in users">
               <td>{{user.id}}</td>
               <td>{{user.firstName}}</td>
               <td>{{user.lastName}}</td>
               <td>{{user.username}}</td>
               <td>{{user.email}}</td>
            </tr>
         </tbody>
      </table>
    </div>

    <div class="row tabs">

        <uib-tabset justified="true" >
          <uib-tab heading="My Articles" class="text-center">
            <div class="well">
              Articles
            </div>
          </uib-tab>

          <uib-tab heading="Add article"  class="text-center">
            <div class="well">
            <form name="addArticle" novalidate>
              <h2 class="text-center addArt">Add article</h2>
              <div class="form-group" ng-class="{'has-error': addArticle.title.$invalid && addArticle.title.$dirty, 'has-success': addArticle.title.$valid && addArticle.title.$dirty}">
                <label for="title">Title</label>
                <input
                type="text"
                class="form-control"
                name="title"
                ng-model="addArt.article.title"
                placeholder="Enter title..."
                required
                autofocus />
                <p ng-show="validate.required(addArticle.title)" class="help-block">Title is required.</p>
              </div>

              <div class="form-group" ng-class="{'has-error': addArticle.author.$invalid && addArticle.author.$dirty, 'has-success': addArticle.author.$valid && addArticle.author.$dirty}">
                <label for="author">Author</label>
                <input
                type="text"
                class="form-control"
                name="author"
                ng-model="addArt.article.author"
                placeholder="Enter author..."
                required
                autofocus />
                <p ng-show="validate.required(addArticle.author)" class="help-block">Author is required.</p>
              </div>

              <div class="form-group" ng-class="{'has-error': addArticle.body.$invalid && addArticle.body.$dirty, 'has-success': addArticle.body.$valid && addArticle.body.$dirty}">
                <label for="body">Body</label>
                <textarea
                type="text"
                class="form-control"
                name="body"
                ng-model="addArt.article.body"
                placeholder="Type here..."
                rows="15"
                required>
                </textarea>
                <p ng-show="validate.required(addArticle.body)" class="help-block">Body is required.</p>
              </div>

              <div class="form-group">
                  <label for="category">Category</label>
                <ui-select
                  multiple
                  tagging
                  tagging-label="(custom 'new' label)"
                  ng-model="addArt.article.category"
                  theme="bootstrap"
                  sortable="true"
                  ng-disabled="disabled"
                  title="Choose a category"
                  class="form-control">
                  <ui-select-match placeholder="Select category...">{{$item}}</ui-select-match>
                  <ui-select-choices repeat="category in addArt.categories">{{category}}</ui-select-choices>
                </ui-select>
              </div>

              <date-picker></date-picker>
              <button type="submit" class="btn btn-primary btn-block">Add</button>

            </form>
          </div> <!-- end of well -->
          </uib-tab>

          <uib-tab heading="Profile"  class="text-center">
            <div class="well">
              Profile
            </div>
          </uib-tab>

          <uib-tab heading="Settings"  class="text-center">
            <div class="well">
              Settings
            </div>
          </uib-tab>
        </uib-tabset>

    </div> <!-- end of row -->
</div> <!-- end of col-md-12 -->
