<div class="row">
    <div class="col-xs-12 col-sm-8">
        <article class="panel panel-{{ styles[$index % styles.length] }} recent-article" ng-repeat="recentArticle in recentArticles">
            <div class="panel-heading">
                <p>{{ recentArticle.title }}</p>
                <address>By <a href="#about/{{ recentArticle.authorPage }}">{{ recentArticle.author }}</a> on <time>{{ recentArticle.date }}<time></address>
            </div>
            <div class="panel-body text-justify">
                <img src="{{ recentArticle.image }}"/>
                <span>{{ recentArticle.contentTrimmed }}</span>
                <a href="#/articles/{{ recentArticle.id }}" class="text"><small class="text-{{ styles[$index%3] }}">Read More</small></a>
            </div>
            <div class="panel-footer">
                <p class="tags"><span class="pull-left">Tags:&nbsp;</span><span class="pull-left" ng-repeat="category in recentArticle.categories"><a href="#/articles/category/{{ category }}">{{ category }}</a>{{$last ? '' : ',&nbsp;'}}</span></p>
            </div>
        </article>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="subscribe text-center">
            <span class="text-uppercase">Subscribe</span>
            <em>by email</em>
            <br>
            <input type="email" name="email">
            <br>
            <span>Never miss a post!</span>
        </div>
        <div class="well text-justify">
            <q><em>Whatever you can do, or dream you can, begin it.  Boldness has genius, power and magic in it.</em></q>
            <p class="text-right"><small>Johann Wolfgang von Goethe</small></p>
        </div>
        <div class="well">
            <h4 class="text-center"><strong>Blog Categories</strong></h4>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Nature</a>
                        </li>
                        <li><a href="#">Wildlife</a>
                        </li>
                        <li><a href="#">Science</a>
                        </li>
                        <li><a href="#">Technology</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Health</a>
                        </li>
                        <li><a href="#">Food</a>
                        </li>
                        <li><a href="#">History</a>
                        </li>
                        <li><a href="#">Music</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
