
<div class="modal-dialog modal-lg signup">
  <div class="modal-content">

    <div class="modal-header">
      <h1 class="text-center"><strong>Sign Up</strong></h1>
    </div>

    <form name="signup" ng-submit="signup(signup)" novalidate>
      <div class="modal-body">
        <!-- NAME -->
        <div class="form-group" ng-class="{'has-error': signup.name.$invalid && signup.name.$dirty, 'has-success': signup.name.$valid && signup.name.$dirty}">
            <label>Name </label>
            <input
            type="text"
            class="form-control"
            name="name"
            ng-model="user.name"
            placeholder="Enter name..."
            autofocus>
        </div>
        <!-- USERNAME -->
        <div class="form-group" ng-class="{'has-error': signup.username.$invalid && signup.username.$dirty, 'has-success': signup.username.$valid && signup.username.$dirty}">
            <label>Username *</label>
            <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username..."
            ng-model="user.username"
            ng-minlength="6"
            ng-maxlength="20"
            required>
            <p ng-show="validate.check_min_length(signup.username)" class="help-block">Username is too short.</p>
            <p ng-show="validate.check_max_length(signup.username)" class="help-block">Username is too long.</p>
            <p ng-show="validate.required(signup.username)" class="help-block">Username is required.</p>
        </div>
        <!-- EMAIL -->
        <div class="form-group" ng-class="{'has-error': signup.email.$invalid && signup.email.$dirty, 'has-success': signup.email.$valid && signup.email.$dirty}">
            <label>Email *</label>
            <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter email..."
            ng-model="user.email"
            ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
            required>
            <p ng-show="validate.valid(signup.email)" class="help-block">Enter a valid email.</p>
            <p ng-show="validate.required(signup.email)" class="help-block">Email is required.</p>
        </div>
        <!-- PASSWORD -->
        <div class="form-group" ng-class="{'has-error': signup.password.$invalid && signup.password.$dirty, 'has-success': signup.password.$valid && signup.password.$dirty}">
            <label>Password *</label>
            <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password..."
            ng-model="user.password"
            ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/"
            required>
            <p ng-show="validate.valid(signup.password)" class="help-block">Minimum 8 characters, at least 1 Uppercase Alphabet, 1 Lowercase Alphabet and 1 Number</p>
            <p ng-show="validate.required(signup.password)" class="help-block">Password is required.</p>
        </div>
        <!-- DATE -->
        <date-picker></date-picker>
        <p class="text-danger pull-left"><strong>*</strong> required fields</p>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-info btn-block">Signup</button>
      </div>

    </form>
  </div><!-- end of modal-content -->
</div><!-- end of modal-dialog -->
