<ul class="pagination">
    <li class="pull-left text-center">
        <a data-ng-href="#/articles/{{article.id - 1}}" aria-label="Previous" data-ng-class="{'disable': checkDisableLeft(article.id)}">
            <span aria-hidden="true">&laquo; Previous article</span>
        </a>
    </li>
    <li class="pull-right text-center">
        <a data-ng-href="#/articles/{{article.id + 1}}" aria-label="Next" data-ng-class="{'disable': checkDisableRight(article.id)}">
            <span aria-hidden="true">Next article &raquo;</span>
        </a>
    </li>
</ul>
<article class="panel panel-default">
    <div class="panel-heading">
        <p>{{ article.title }}</p>
        <address>By <a data-ng-href="{{ article.authorPage }}">{{ article.author }}</a> on <time>{{ article.date }}</time></address>
    </div>
    <div class="panel-body text-justify">
        <img data-ng-src="{{ article.image }}"/>
        <p>{{ article.content }}</p>
    </div>
</article>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Jane Doe" required>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="jane.doe@email.com" required>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" rows="3" placeholder="Leave your comment here..."></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="panel panel-default" data-ng-repeat="comment in article.comments">
    <div class="panel-heading">{{comment.author}}</div>
    <div class="panel-body">{{comment.content}}</div>
</div>
