$turquoise:#31A5E7;

@mixin border-radius($radius:10px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body {
    position: relative;
    font-size: 20px;
}
.navbar{
    &.navbar-default{
    // background-color: #1873BC;
    padding-top: 5px;
    li {
      font-size: 20px;
      a{
        &:hover{
          color:#86592d
        }
      }
    }
    .navbar-header{
      .navbar-brand{
        font-size: 30px;
        padding-top: 12px;
      }
    }
  }
}
.dropdown{
  .dropdown-menu{
    li{
      a{
        padding: 30px;
      }
    }
  }
}

.modal-dialog{
  margin-top: 200px;
  .modal-header{
    background-color: $turquoise;
  }
  .modal-body{
    padding: 50px;
  }
}
