.modal-dialog{
  margin-top: 8%;
  &.signup{
    margin-top: 10px;
    box-shadow: 8px 8px 10px gray;
  }
  .modal-header{
    background: url($images +'header-bg.jpg') 77% 68% no-repeat;
  }
  .modal-body{
    padding: 20px 50px;
  }
  .modal-footer{
    padding: 30px 50px;
  }
}

.modal-backdrop {
   opacity:0.85 !important;
}
