    <div class="panel-heading">
        <p>{{ article.title }}</p>
        <address>By <a href="#about/{{ article.authorPage }}">{{ article.author }}</a> on <time>{{ article.date }}<time></address>
    </div>
    <div class="panel-body text-justify">
        <img src="{{ article.image }}"/>
        <span>{{ article.contentTrimmed }}</span>
        <a href="#/articles/{{ article.id }}" class="text"><small class="text-{{art.styles[$index%6] }}">Read More</small></a>
    </div>
    <div class="panel-footer">
        <p class="tags"><span class="pull-left">Tags:&nbsp;</span><span class="pull-left" ng-repeat="category in article.categories"><a href="#/articles/category/{{ category }}">{{ category }}</a>{{$last ? '' : ',&nbsp;'}}</span></p>
    </div>
