
<div class="container-fluid text-center"></div>

<nav class="navbar navbar-default" data-spy="affix" data-offset-top="450">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home"><i class="fa fa-fire fa-lg"></i> Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="articles">Articles</a></li>
        <li><a ui-sref="about">About</a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search fa-lg"></i></button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#contactModal">Contact</a></li>
        <li class="dropdown" id="connect" data-drop-down="dropdown-menu">
          <a href="#" class="dropdown-toggle" >Connect <i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="signup"><i class="fa fa-user-plus fa-lg"></i> Sign up</a></li>
            <li><a data-toggle="modal" data-target="#loginModal" ><i class="fa fa-sign-in fa-lg" ></i> Log In</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-power-off fa-lg"></i> Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- end of navbar-collapse -->
  </div><!-- end of container -->
</nav>

<contact-modal></contact-modal>
<login-modal></login-modal>
